.checbox-inline {
    display: flex;
}
.checbox-inline {
    flex: 1;
    gap: 8px;
}
.text-checkbox {
    display: flex;
    flex-direction: column;
}
.text-checkbox-field {
    display: flex;
    align-items: center;
}
.input-type-checkbox {
    height: 20px;
    width: 20px;
}